@import 'variables';
@import 'mixins';

.box { @include border-radius(10px); }

body {
  font: 100% $font-stack;
  color: $primary-color;
  @include black(.25);
  background-color: #3D3D3D;
}

#users {
  .user {
    border: 1px solid $primary-color;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
  }
  th {
    color: #5A5A5A;
  }
}

//INHERITANCE//
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  &.success {
    border-color: green;
  }
  &.error {
    border-color: red;
  }
  &.warning {
    border-color: yellow;
  }
}

// .success {
//   @extend .message;
//   border-color: green;
// }

// .error {
//   @extend .message;
//   border-color: red;
// }

// .warning {
//   @extend .message;
//   border-color: yellow;
// }